@media screen and (orientation:landscape) {

    body  {
        background-image: url(../cev-landscape.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

